<div class="Panel">
  <h1>SignUp</h1>
  <%= form_for User.new, url: '/users' do |u| %>
    <label>
      <span>First name</span>
      <%= u.text_field :fname, placeholder: 'First' %>
      <span>Last name</span>
      <%= u.text_field :lname, placeholder: 'Last' %>
    </label>
    <label>
      <span>Username</span>
      <%= u.text_field :username, placeholder: 'username' %>
    </label>
    <label>
      <span>Password</span>
      <%= u.password_field :password, placeholder: 'password' %>
    </label>
    <label>
       <span>Profile Picture</span>
       <%= u.file_field :profile_picture %>
    </label>
    <%= u.submit 'Login' %>
  <% end %>
</div>